@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    body{
        // hiding horizontal scrollbar
        overflow-x: hidden;
        // overflow-y: hidden;
        #main{
            canvas{
                // position: absolute;
                position: fixed;
                top: 0;
                left: 0;
                z-index: -1;
                background: #0f0c29;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            }
            #hero{
                margin: 0;
                padding: 0;
                height: 100vh;
                .hero-line{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    h1{
                        color: white;
                        font-size: 86pt;
                        font-family: 'Source Code Pro', monospace;
    
                        &:hover{
                            cursor: default;
                        }
                    }
                    .imagine, .possible{
                        font-size: 120pt;
                        font-weight: 900;
                        background: -webkit-linear-gradient(to right, #fc466b, #3f5efb); /* Chrome 10-25, Safari 5.1-6 */
                        background: linear-gradient(to right, #fc466b, #3f5efb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
            #contact{
                min-height: 100vh;
                display: flex;
                justify-content: center;
                align-content: center;
                flex-direction: column;
                // background: #0f0c29;  /* fallback for old browsers */
                // background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
                // background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                h2{
                    color: white;
                    font-size: 100pt;
                    font-weight: 900;
                    font-family: 'Source Code Pro', monospace;
                }
                form{
                    label{
                        color: white;
                    }
                }
            }
            #blog{
                min-height: 100vh;
                .blog-post{
                    background-color: white;
                    padding: 20px 10px;
                    border-radius: 10px;
                    h3{
                        font-family: 'Source Code Pro', monospace;
                        text-align: center;
                    }
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}