<form method="post" action="{{ path('app_movie_delete', {'id': movie.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" class="form-control m-3" name="_token" value="{{ csrf_token('delete' ~ movie.id) }}">
    <button class="btn btn-danger m-3">Delete</button>
</form>
